<div class="post-body">
    <ul>
        {{#each posts}}
        <div class="post-title" onclick="location.href='/post/{{id}}';" style="cursor: pointer;">
            <h2 class="title-text">
                  {{title}}  
            </h2>
        </div>
        <div class="post-body">
            <div class="body-text">
                {{post}}
            </div>
        </div>
        <br>
        {{/each}}
    </ul>
</div>

<div>
    {{comment_text}}
</div>