<div class="post-body">
    <ul>
        <div class="post-title">
            <h2 class="title-text">
                {{title}}
            </h2>
        </div>
        <div class="post-body">
            <div class="body-text">
                {{post}}
            </div>
        </div>
        <br>
    </ul>
</div>
<div class="post-body">
    <ul>
        <div class="post-title">
            <h2 class="title-text">
                Comment {{comment_text}}
            </h2>
        </div>
        <div class="post-body">
            <form class="comment-form">
                <div>
                    <textarea name="comment-body"></textarea>
                </div>

                <div>
                    <button type="submit" class="comment-button">add comment</button>
                </div>
            </form>
        </div>
        <br>
    </ul>
</div>



<script src="/javascript/comment.js"></script>