
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button id="signUp">signup</button>
  </div>
</form>
<a href="./login">Login instead</a>
<script src="/javascript/signup.js"></script>